<!--
<h1>{{items.name}}</h1>
<h1>{{items.description}}</h1>
-->

<h1> All movies </h1>
<ol>
<h1> List of movies </h1>
<ol>
    {% for movie in movies %}
        <li>
            {{movie.title}}
            <div>
                <h5> {{movie.node_field_data_title.value | raw}} </h5>
                {{movie.node_field_data_description.value | raw}}
                <img src="{{ file_url(movie.node_field_data_image.entity.fileuri) }}" width="300" height="300" />
            </div>
        </li>
    {% endfor %}
</ol>
</ol>

